controller/src/main/resources/xsd/customerDTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerRegistrationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="birth" type="xs:dateTime"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="gymid" type="xs:int"/>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>