controller/src/main/resources/xsd/gymDTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GymRegistrationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gymID" type="xs:int"/>
                <xs:element name="gymName" type="xs:string"/>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="city" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>